<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Sprinter 3000</title>
</head>
<body>
    <h1>Super Sprinter 3000</h1>
    <p1><a href="story">Add new User Story</a></p1>
    <table id="my-table">
        <tr>
            <th>Id</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Buisness value</th>
            <th>Estimation</th>
            <th>Status</th>
        </tr>  
    </table>
</body>
</html>