<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User Story | Super Sprinter 3000</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .container form{
            display: flex;
            align-content: flex-end;
            flex-direction: column;
        }
    </style>
</head>
<body>
<header><h1>Add User Story</h1></header>
<div class="container">
    <form>
        <label for="fstory">Story Title:</label>
        <input type="text" id="fstory" name="fstory">

        <label for="ustory">User Story:</label>
        <input type="text" id="ustory" name="ustory">

        <label for="criteria">Acceptance Criteria:</label>
        <input type="text" id="criteria" name="criteria">
    </form>
</div>

</body>
</html>