<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User Story | Super Sprinter 3000</title>
</head>
<body>
<header><h1>Add User Story</h1></header>
<div class="container" style="display: flex;">
    <form>
        <label for="fstory">Story Title:</label><br>
        <input type="text" id="fstory" name="fstory"><br><br>

        <label for="ustory">User Story:</label><br>
        <textarea name="ustory"> </textarea><br><br>

        <label for="criteria">Acceptance Criteria:</label><br>
        <textarea name="criteria"></textarea><br><br>

        <label for="bvalue">Business value:</label><br>
        <input type="text" id="bvalue" name="bvalue" maxlength="4" size="3"><br><br>

        <label for="estm">Estimation:</label><br>
        <input type="estm" id="estm" name="estm" maxlength="2" size="3"><br><br>

        <input type="submit" id="button" value="Add new User Story">
    </form>
</div>

</body>
</html>